html,
body {
   margin: 0;
   font-family: 'Poppins', sans-serif;
   background-color: #baddf4;
}

#wrapper div, #wrapper h2 {
    display: flex;
    justify-content: center;
}

h2 {
    color: #2d3748;   
    letter-spacing: 1px;
}

input {
    border-radius: 5px;
    border: 2px solid #cbd5e0;  
    margin-top: 30px;
    height: 2em;
    width: 250px;
    padding-left: 10px;
}

input:active {
    border: none;
}

#wrapper {
    height: 500px;
    width: 400px;
    margin: 200px auto;
    background-color: #ffefef;   
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.1); 
}

button {
    margin-top: 20px;
    background-color: #4f46e5;  
    border-radius: 6px;
    height: 44px;
    font-weight: 600;
    padding: 0 30px;
    letter-spacing: 1px;
    border: none;
    color: #ffffff; 
}

button:hover {
    cursor: pointer;
    background-color: #4338ca;  
}

#result {
    color: #4a5568; 
    margin-top: 20px;
    font-size: 32px;
}
