body {
    background: #f6ffe0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #acfdfa;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;

   
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Heading */
h2 {
    margin: 0;
    color: #333;
}

/* Textbox */
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    outline: none;
}

textarea:focus {
    border-color: #007bff;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}


p {
    font-size: 18px;
    color: #444;
    margin: 0;
}

#result {
    font-weight: bold;
    color: #000;
}
